<body class="top-body">
  <header class="top-header"></header>
    <main class="top-visual">
      <div class="empty">
        <h1 class="top-title">ON-SEN</h1>
      </div>
      <div class="top-container">
        <%= link_to("入湯", tweets_path,class:"top-enter") %>
      </div>
    </main>
  <footer></footer>
</body>