
  <header class="top-header"></header>
    <main class="top-visual">
      <div class="empty"></div>
      <div class="top-container">
        <%= link_to("入湯", tweets_path,class:"top-title") %>
      </div>
    </main>
  <footer class="top-footer"></footer>
