// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

＊{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index-header {
  width: 100%;
  height: 50px;
  background-color: black;
}

.header-item {
  width: 100%;
  height: 50px;
}

.nav-list {
 height: 100%;
 display: flex;
 margin-left: 1000px;
}

.fas {
  color: white;
  text-decoration: none;
  margin: auto !important;
  font-size: 20px;
}

.index {
  text-align: center;
  height:1000px;
}

.index-title {
  margin: 0 auto;
}

.post-index {
  display:flex;
  flex-wrap:wrap;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(225, 225, 225, 0.7);
  text-align: centers;
  padding: 20px;
}

.show-main {
  text-align: center;
  margin-top: auto;
}

.tweet-body {
  background-image: image-url("andy-wang-cRiUOdL0pkI-unsplash.jpg");
  background-position: center;
  background-size: cover;
}

.show-content {
  margin: 0 auto;
  width: 600px;
  background-color: rgba(225, 225, 225, 0.7);
}

.show-tweet-title {
  font-size: 50px;
  margin-bottom: 0;
}

.show-tweet-body {
  width: 500px;
  height: 300px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}


.show-item {
  text-decoration: none;
  color: black;
}

.form-title {
  padding-top: 20px;
}

.form-body {
  width: 100%;
  height: 700px;
}

.form-container {
  text-align: center;
  margin: 0 auto;
  width: 500px;
  height: auto;
  background-color: rgba(225, 225, 225, 0.7);
  margin-top: 50px;
  margin-bottom: 50px;
}

.field {
  margin: 20px
}

.actions {
  margin-top: 10px;
}

.bottom-action {
  margin-top: 30px;
  padding-bottom: 20px;
}